* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body {
    height: 100%;
}

html {
    scroll-behavior: smooth;
}

body {
    color: #CBC8DE;
    font-family: 'Noto Sans',sans-serif;
    font-size: 10px;
    background-color: #060218;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
}

.content {
    flex: 1 0 auto;
}

nav {
    background-color: #0B071A;
    padding: 10px;
    box-sizing: border-box;
    top: 0;
    left: 0;
    position: fixed;
    z-index: 10000;
    }

nav ul {
    display: flex;
    justify-content: space-around;
    list-style: none;
}

.menu {
    color: inherit;
    text-decoration: none;
    font-family: 'Teko',sans-serif;
    font-size: 1.5rem;
}
.menu:hover {
    color: #C32020;
    transition: 0.5s;
}

.karosel-luar {
    margin-top: 5%;
}

.karosel {
    height: 50vh;
    object-fit: fill;
}

.newRelease {
    margin-top: 1%;
    font-family:'Fjalla One', sans-serif;
    color:inherit;
    padding-bottom: 40px;
}

.newRelease h1 {
    text-align: center;
}

.container {
    margin-top: 2%;
    width: 100vw;
}

.kol-1 {
    height: 300px;
    width: 400px;
    background-position: center;
    background-image: url(./gambar/gpu.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0.5;
    border: #CBC8DE solid 2px;
    border-right: hidden;
}

.kol-1:hover{
    opacity: 1;
    transition: 0.5s;
}

.kol-2 {
    height: 300px;
    width: 400px;
    background-position: center;
    background-image: url(./gambar/mobo\ msi.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0.5;
    border: #CBC8DE solid 2px;
}


.kol-2:hover {
    opacity: 1;
    transition: 0.5s;
}

.kol-3 {
    height: 300px;
    width: 400px;
    background-position: center;
    background-image: url(./gambar/cpu.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0.5;
    border: #CBC8DE solid 2px;
    border-left: hidden;
}
.kol-3:hover {
    opacity: 1;
    transition: 0.5s;
}

.row-2 {
    position: relative;
    left: 10%;
    margin-top: 0.9%;
}

.kol-1-big {
    height: 400px;
    width: 500px;
    background-position: center;
    background-image: url(./gambar/rog-zephyrus.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0.5;
    border: #CBC8DE solid 2px;
    border-right: hidden;
}
.kol-1-big:hover{
    opacity: 1;
    transition: 0.5s;
}

.kol-2-big {
    height: 400px;
    width: 500px;
    background-position: center;
    background-image: url(./gambar/monitor.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0.5;
    border: #CBC8DE solid 2px;
}
.kol-2-big:hover{
    opacity: 1;
    transition: 0.5s;
}

/* Halaman Produk */

header h1 {
    text-align: center;
    color: inherit;
    position: relative;
    top: 120px;
    font-family:'Fjalla One',sans-serif;
}

.container-product {
    position: relative;
    left: 5%;
    margin-top: 11%;
    margin-left: 10%;
}

.kolom-produk {
    display: flex;
    margin-top: 3%;
}

.container-katalog {
    margin-right: 1%;
}

.katalog {
    border: #8570cf solid 5px;
    width: 15rem;
    color: #0B071A;
    font-size: 0.7rem;
}

.judul-about {
    position: relative;
    top: 100px;
    text-align: center;
}

.about {
    position: relative;
    top: 150px;
    width: 80vw;
    left: 50%;
    transform: translate(-50%);
}

.about p {
    text-align: justify;
    line-height: 1.5rem;
    font-size: 1.2rem;
}

.nama-kelompok {
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
}

footer {
    flex-shrink: 0;
    background: rgb(2, 0, 36);
    background: -moz-linear-gradient(90deg, rgba(2, 0, 36, 1) 11%, rgba(2, 0, 36, 1) 52%);
    background: -webkit-linear-gradient(90deg, rgba(2, 0, 36, 1) 11%, rgba(2, 0, 36, 1) 52%);
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 11%, rgba(2, 0, 36, 1) 52%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#020024", endColorstr="#020024", GradientType=1);
    padding: 20px;
}

.socmed {
    text-align: center;
}

.whatsapp {
    color: inherit;
}

.whatsapp:hover {
    color: #128c7e;
}

.mail {
    color: inherit;
}

.mail:hover {
    color: red;
}

.instagram {
    color: inherit;
}

.instagram:hover {
    color: #E1306C;
}

.twitter {
    color: inherit;
}

.twt:hover {
    color:#1DA1F2;
}

.icon {
    position: relative;
    left: 50%;
    transform: translate(-50%);
}

.icon a {
    margin-right: 20px;
}