* {
    margin: 0;
    padding: 0;
}

html,body {
    height: 100%;
}

html {
    scroll-behavior: smooth;
}

body {
    color: #CBC8DE;
    font-family: 'Noto Sans', sans-serif;
    font-size: 10px;
    background-color: #060218;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
}

.content {
    flex: 1 0 auto;
    margin-bottom: 15%;
}

nav {
    background-color: #0B071A;
    padding: 10px;
    box-sizing: border-box;
    top: 0;
    left: 0;
    position: fixed;
    z-index: 10000;
}

nav ul {
    display: flex;
    justify-content: space-around;
    list-style: none;
}

.menu {
    color: inherit;
    text-decoration: none;
    font-family: 'Teko', sans-serif;
    font-size: 1.5rem;
}

.menu:hover {
    color: #C32020;
    transition: 0.5s;
}

.judul {
    text-align: center;
    color: cornsilk;
    position: relative;
    top: 80px;
    font-family:'Fjalla One',sans-serif;
    font-size: 2rem;
}
.container {
    position: relative;
    top: 150px;
}

.produk-top {
    overflow: hidden;
}

.produk-top img {
    width: 100%;
    height: 100%;
    transition: all 0.3s ease-out;
    cursor: pointer;
}

.produk-top img:hover {
    transform: scale(1.2);
}

.produk-bottom {
    position: relative;
    top: 15px;
}

.produk-bottom p {
    font-size : 1.1rem;
}

.full-display {
    background: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    pointer-events: none;
    transition: 0.30s ease-out;
}

.full-display.open {
    opacity: 1;
    pointer-events: all;
}

.display-inner {
    background: #fff;
    color: #060218;
    height: 80%;
    width: 75%;
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translate(-50%,0) scale(0.5);
    display: flex;
    justify-content: space-between;
    transition: all 0.3s ease-out;
    padding: 20px;
}

.display-inner.open {
    transform: translate(-50%, 0) scale(1);
}

.full-img {
    position: relative;
    height: 70%;
    width: 50%;
    padding-right: 10px;
    top: 50%;
    transform: translate(0,-50%);
    box-sizing: border-box;
}

.detail li {
    font-size: 1.3rem;
}
.caption {
    color: #060218;
}

.row2 {
    margin-top: 3%;
}

.myForm {
    display: flex;
}

.number {
    width: 60%;
    margin-left: 20px;
}

footer {
    flex-shrink: 0;
    background: rgb(2, 0, 36);
    background: -moz-linear-gradient(90deg, rgba(2, 0, 36, 1) 11%, rgba(2, 0, 36, 1) 52%);
    background: -webkit-linear-gradient(90deg, rgba(2, 0, 36, 1) 11%, rgba(2, 0, 36, 1) 52%);
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 11%, rgba(2, 0, 36, 1) 52%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#020024", endColorstr="#020024", GradientType=1);
    padding: 20px;
}

.socmed {
    text-align: center;
}

.whatsapp {
    color: inherit;
}

.whatsapp:hover {
    color: #128c7e;
}

.mail {
    color: inherit;
}

.mail:hover {
    color: red;
}

.instagram {
    color: inherit;
}

.instagram:hover {
    color: #E1306C;
}

.twitter {
    color: inherit;
}

.twt:hover {
    color: #1DA1F2;
}

.icon {
    position: relative;
    left: 50%;
    transform: translate(-50%);
}

.icon a {
    margin-right: 20px;
}